.container {
	margin-top: 120px;
}

.main-text {
	font-size: 24px;
}

.indentation {
	margin-top: 70px;
}

.indentation img {
	padding-bottom: 30px;
}

.forma {
	border: 5px solid #2727d9;
}
.h5 {
	padding: 26px 0 29px 0;
}

form {
	padding: 0 15px; 
}

form > button {
	margin-bottom: 30px;
}

.b-col {
	background: #2727d9;
}
